<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1 text-info">Faire un QCM</h1>
    <p class="display-4 d-none d-sm-block">Testez vos compétences.</p>
    <p class="lead">Nous organisons des QCM sur divers sujets.</p>

    

    <p class="lead">Inscrivez-vous si vous ne l'avez pas déjà fait et accédez à des millions de QCM sur le sujet qui vous intéresse.</p>
    <p><strong> Commencer ici:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> S'inscrire</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
